/rendered
/bin
.DS_Store
*.o
/.vscode
RISELog.txt
build_log.txt
Config.specific
Xcuserdata/
RISE_Log.txt
*.mov
.claude/
extlib/
.vs/
*.idb
*.pdb
/build/VS2022/Library/Debug
/build/VS2022/RISE/Debug
*.user
*.lib
build/VS2022/UpgradeLog.htm
*.exe
/scenes/Internal
/models/risemesh/internal
